<div class="container" style="padding-top: 90px;">
    <h2>Add New Item</h2>
    <form method="post" action="/items/add" enctype="multipart/form-data">
        <fieldset>
            <legend>Feature Image</legend>
            <div class="form-group">
                <input class="form-control" id="featureImage" name="featureImage" type="file" required />
            </div>
        </fieldset>
        <br />
        <fieldset>
            <legend>Post Content</legend>
            <div class="form-group">
                <label for="title">Item Name:</label>
                <input class="form-control" id="title" name="title" type="text" required />
            </div>
            <div class="form-group">
                <label for="price">Price:</label>
                <input class="form-control" id="price" name="price" type="number" step="0.01" required />
            </div>
            <div class="form-group">
                <label for="body">Description:</label>
                <textarea class="form-control" id="body" name="body" rows="10" required></textarea>
            </div>
            <div class="form-group">
                <label for="category">Category:</label>
                <select class="form-control" name="category" id="category" required>
                    <option value="">Select Category</option>
                    <option value="1">Home, Garden</option>
                    <option value="2">Electronics, Computers, Video Games</option>
                    <option value="3">Clothing</option>
                    <option value="4">Sports & Outdoors</option>
                    <option value="5">Pets</option>
                    <% categories.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.category %></option>
                    <% }); %>
                </select>
            </div>
            <div class="form-group">
                <label for="published">Visibility:</label>
                <input type="checkbox" name="published" id="published" /> Published
            </div>
        </fieldset>
        <hr />
        <input type="submit" class="btn btn-primary pull-right" value="Add Item" /><br /><br />
    </form>
    <body>
        <h3>Item List</h3>
        <ul>
          <% items.forEach(item => { %>
            <li>
              <%= item.name %>
              <form action="/remove" method="POST" style="display:inline;">
                <input type="hidden" name="id" value="<%= item.id %>">
                <button type="submit">Remove</button>
              </form>
            </li>
          <% }); %>
        </ul>
      </body>
</div>